
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.score{
    font-size: 4em;
    margin-bottom: .5em;
    position: absolute;
    top: 50px;
    right: 100px;
}
.molenumber{
    font-size: 4em;
    margin-bottom: .5em;
    position: absolute;
    bottom: 200px;
    right: 100px;
}
.bombnumber{
    font-size: 4em;
    margin-bottom: .5em;
    position: absolute;
    bottom: 150px;
    right: 100px;
}
.darkmolenumber{
    font-size: 4em;
    margin-bottom: .5em;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.board{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
}
.hole{
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
    size: 2;
  }
  .hole:after {
    display: block;  
    background: url("img/hole.png") top center no-repeat;
    background-size:contain;
    content:'';
    width: 100%;
    height:85px;
    position: absolute;
    bottom:-40px;
    }
.hole .mole{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise .3s ease-out;
}
@keyframes rise {
    0%{
        transform: translateX(0%) translateY(100%);
    }
    100%{
        transform: translateX(0%) translateY(0%);
    }
}

.hole .moles-dark{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise .3s ease-out;
}
@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0%);
    }
}

.hole .bomb{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise .3s ease-out;
}
@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0%);
    }
}

.button {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    top: 175px;
    right: 100px;
  }

#restart {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    object-position: center;
    text-decoration: none;
    font-size: 16px;
}

.cursor{
    height: 110px;
    width: 100px;
    position: absolute;
    bottom: 100px;
    left: 100px;
    background-image: url('img/hammer.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
}
.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}

#watch{
    position: absolute;
    top: 175px;
    left: 100px;
    height: 200px;
    width: 200px;
}

#time{
    position: absolute;
    top: 175px;
    left: 100px;
    height: 200px;
    width: 200px;
    transform: rotate(6deg);
}

#js_timer {
    text-align: center;
    }
    #timer{
    text-align: center;
    background: #fff;
    color: #000;
    width: 200px;
    height: 25px;
    position: absolute;
    top: 100px;
    left: 100px;
    margin: 25px auto;
    }

  img{
    max-width: 100%;
    height: auto;
  }